/*
* SETTINGS
*/

// Set all variables

$totalColumns: 20;
$gutterWidth: 0%; // reserved for later use if needed
$line-height: 1.5em;

$small-screen: 768px;
$medium-screen: 984px;
$large-screen: 1358px;

$one: #2C4770;
$two: #051A38;
$three: #142F54;
$four: #4C678C;
$five: #758AA8;
$six: #D2D8DF;
$seven: #E0E1E3;